/*

black / background
#21201e 

// vert 
#b0ce34

// blue
#4eb9d6


*/

body {
    background: #21201e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #b0ce34;
}

.container {
    width: 1140px;
    margin: auto;
}


rect.temperature {
  fill: #5ddcff;
}